
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{
    background: black;
    font-family: Plus Jakarta Sans, sans-serif;
}
.wrapper{
    width: 1440px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*------------HEADER--------------*/
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EFF0F3;
    height: 86px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    z-index: 10;
    position: sticky;
    top: 0;
}
.logo{
    margin: 26px 95px;
    display: flex;
    align-items: baseline;
}
.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 44px;
    gap: 50px;
    margin: 22px 95px 22px 0;
}
.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 493px;
}
.menu ul li a{
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: #2B2C34;}
.menu li.search::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    background: url("https://img.icons8.com/ios/50/search--v1.png") no-repeat center;
    background-size: cover;
}
.menu button{
    width: 213px;
    height: 44px;
    border-radius: 4px;
    padding: 10px 17px;
    background: #6246EA;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFE;
}
.menu button img{
    width: 24px;
    height: 24px;
}
/*------------------------section subscribe-1-------------------------*/
.subscribe-1{
    width: 100%;
    height: 814px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EFF0F3;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 664px;
    gap: 30px;
}
.form h1{
    width: 617px;
    height: 162px;
    font-weight: 700;
    font-size: 64px;
    color: #2B2C34;
}
.form p {
    font-weight: 400;
    font-size: 20px;
    color: #9A9494;
    padding-left: 9px;
    border-left: 3px solid #2B2C34;
}
.subscribe-form{
    width: 609px;
    height: 67px;
    gap: 20px;
    display: flex;
}
.subscribe-form input{
    width: 444px;
    border-radius: 8px;
    background: #FFFFFE;
    border: none;
}
.subscribe-form input::placeholder{
    font-weight: 400;
    font-size: 20px;
    color: #C0C0C0;
    padding-left: 20px;
}
.subscribe-form button{
    width: 145px;
    border-radius: 8px;
    background: #6246EA;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFE;
}
.subscribe-1 img{
    width: 470px;
    height: 387px;
    margin-left: 116px;
}
 /*------------------section browse category-------------------*/
.Browse-category{
    height: 500px;
    background: #EFF0F3;
}
.category-section{
    width: 1252px;
    height: 365px;
    margin: 67px 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.category-text {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
.category-text h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #2B2C34;
}
.category-text a{
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.category-text a::after{
    content: url("img/Frame286.png");
    width: 6px;
    height: 14px;
    margin-left: 9px;
    display: inline-block;
    position: relative;
    top: 3px;
}
.category-cards{
    width: 1248px;
    height: 280px;
    margin: 50px 0;
    gap: 37px;
    display: flex;
}
.category-card {
    background: #FFFFFE;
    width: 220px;
    height: 280px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.category-card img{
    width: 60px;
    height: 60px;
    margin-top: 65px;
    margin-left: 30px;
}
.category-card p{
    margin-left: 30px;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
}
.active-card{
    background: #6246EA;
    color: #FFFFFE;
}

/*-----------------------main--------------------------------*/
main {
    width: 100%;
    background: #FFFFFE;
    height: 2504px;
}
.main-section {
    height: 2344px;
    width: 1252px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.main-container {
    display: flex;
    flex-direction: column;
    height: 490px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 30px;
    width: 1248px;
}
.card {
    height: 425px;
    width: 300px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.box-shadow{
    box-shadow: 4px 6px 13px  #D7D7D740;
    border-radius: 12px;
}
.card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.card img {
    width: 260px;
    height: 198px;
    border-radius: 12px;
    object-fit: cover;
}
.card h3 {
    font-weight: 700;
    font-size: 20px;
    color: #2B2C34;
    width: 260px;
    text-transform: capitalize;
}
.card-footer {
    width: 260px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.card-footer img {
    width: 57px;
    height: 57px;
}
.details{
    height: 57px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.details p:nth-child(1) {
    font-weight: 600;
    font-size: 16px;
    color: #2B2C34;
    margin-bottom: 4px ;
}
.details p:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    color: #2B2C34;
    white-space: pre;
}
.button-main {
    width: 165px;
    height: 64px;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: #FFFFFE;
}
/*---------------------------subscribe-2--------------------------*/
.subscribe-2{
    width: 1440px;
    height: 453px;
    gap: 30px;
    background: #EFF0F3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.subscribe-2-img{
    width: 130px;
    height: 130px;
    background: #FFFFFE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe-2-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.subscribe-2-text h2{
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    color: #2B2C34;
}
.subscribe-2-text p{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #C0C0C0;
}
/*--------------------------footer------------------------------*/
footer{
    height: 465px;
    background: #E4E5E9;
}
.footer-container {
    width: 1249px;
    height: 245px;
    display: flex;
    align-items: flex-start;
    margin: 70px 95px;
    gap: 160px;
}
.footer-left .logo:nth-child(1){
    margin: 0 0;
}
.footer-left{
    height: 138px;
    gap: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.footer-left p{
    font-weight: 400;
    font-size: 18px;
    color: #2B2C34;
}
.socials{
    width: 190px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer-right{
    height: 245px;
    gap: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-right h4{
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    white-space: nowrap;
}
.footer-right a{
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    white-space: nowrap;
}
.footer-right-category{
    height: 245px;
    gap: 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.footer-bottom{
    width: 1249px;
    margin: 50px 95px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.footer-bottom p{
    font-weight: 400;
    font-size: 14px;
    color: #2B2C34;
}
.logo h3{
    font-weight: 600;
    font-size: 36px;
    color: #001858;
}
.logo p{
    font-weight: 700;
    font-size: 18px;
    color: #6246EA;
}

